body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#footer {
  margin-top: auto;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 30px 0;
}

.container .navbar-brand {
  margin: 0;
  padding: 0;
  color: #27ae60;
  font-weight: bold;
  font-size: 30px;
}

.nav-item {
  font-weight: 700;
  padding-left: 10px;
}

.header-img {
  position: relative;
  background: url(img/img1.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 220px 0 390px;
}

.header-img h3 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #dcdde1;
  font-weight: bold;
}

.header-img h4 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: #dcdde1;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-img {
    padding: 200px 0;
  }
  .header-img h3 {
    font-size: 2em;
  }
}

.services {
  padding-top: 40px;
  padding-bottom: 50px;
}

.img {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.info {
  background-image: url(img/img5.jpg);
  background-size: cover;
  padding: auto;
}

.info .row {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.process h2 {
  font-size: 50px;
  font-weight: bold;
}

.process .container {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.process .fa-solid {
  padding-bottom: 20px;
  font-size: 80px;
  color: gray;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}

.process-1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}

.process-1 h3 {
  font-weight: bold;
}

.footer-top {
  padding-bottom: 90px;
  padding: 90px;
  background-color: #dcdcdc;
}

.footer-top a {
  text-decoration: none;
}

.header-img1 {
  position: relative;
  background: url(img/img6.jpg);
  height: 100px;
  background-size: cover;
  background-position: center;
  padding: 200px 0 90px;
}

.header-img1 h3 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #dcdde1;
  font-weight: bold;
}

.img-fluid {
  height: 100vh;
  margin-left: 120px;
  margin-bottom: 50px;
}

.contact-us {
  max-width: 600px;
  width: 96%;
  margin: 120px auto 20px auto;
  padding: 16px 20px;
  background-color: #ebe9e9;
  border-radius: 6px;
}

.contact-us .inner {
  margin-top: 18px;
}

.form-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.form-group label {
  width: 100px;
}

.form-group input,
.form-group textarea {
  flex: 1;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  outline: 0;
  border-color: rgb(5, 180, 180);
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(4, 189, 179, 0.418);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: teal;
  box-shadow: 0 0 0 0.15rem rgba(1, 233, 221, 0.418);
}

.form-group input {
  height: 35px;
}

.submit-btn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.submit-btn button {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  background-color: rgb(2, 160, 160);
}
